.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.header * {
  display: flex;
  align-items: center;
}

#search-button {
  background-color: ghostwhite;
  color: aliceblue;
}

.header-input {
  padding-top: 20px;
  width: 800px;
}

.header-icons {
  display: flex;
  justify-content: space-around;
}

.button{
    margin : 5px;
}
