.form {
  margin-top: 300px;
  margin-left: 400px;
  margin-right: 400px;
  padding: 100px;
  padding-left: 200px;
  padding-right: 200px;
  background-image: url(../Images/login_bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-label {
  font-size: 25px;
  font-weight: 50px;
  color: #7ff9ff;
  font-family: sans-serif;
  float: left;
}

h3 {
  font-size: 50px;
  font-weight: 200;
  color: #c4fcff;
  margin-bottom: 50px;
}

.signin {
  margin-top: 20px;
}

.warning{
    font-size : 15px;
    font-weight : 10px;
    color:red;
}
