.main{
    display:flex;
    flex-direction : row;
}

.youtube-player{
    flex:0.7;
    padding-left:10px;
    padding-top : 10px;

}

.side-player{
    border : 1px solid black;
    padding : 30px;
    width:400px;
    height:700px;
    flex:0.3;
    overflow-y:auto;
    overflow-x:hidden;
}
