.video-box{
    display:flex;
    flex-direction:row;
    width:1000px;
    height:300px;
}

.video-info{
    display:flex;
    flex-direction:column;
    align-text:left;
    width:800px;
    height:1000px;

}

p{
    overflow:hidden;
    white-space:nowrap;
    color:#0069d9;
    font-size:18px;
}
